html, body {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.background-connexion, .background-inscription {
	width: 100%;
	opacity: 0.9;
}

.wrap-form {
	position: absolute;
	width: 500px;
	display: block;
	background-color: rgba(0, 0, 0, 0.68);
	border-radius: 10%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrap-contents {
	padding: 50px;
}

.wrap-contents h2 {
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	width: 53%;
	margin: auto;
}

.wrap-input {
	margin-top: 50px;
	text-align: left;
}

.wrap-input:first-child {
	margin-bottom: 20px;
}


.title-input-connexion {
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.title-input-connexion:first-child {
	display: block;
	margin-bottom: 17px;
}

.title-input-connexion:nth-child(2n+2) {
	display: block;
	margin-top: 34px;
	margin-bottom: 17px;
}


.input-text  {
	padding: 7px;
	background-color: #ffffff;
	color: black;
	width: 100%;
}


.input-submit{
	display: inline-block;
	width: calc(50% - 2px);
	padding: 13px;
	border-radius: 13px;
	color: white;
	background-color: #41a6e1;
	font-weight: bold;
	margin-top: 20px;
	font-size: 17px;
}

/*/INSCRIPTION/*/

.wrap-form-inscription {
	position: absolute;
	width: 500px;
	display: block;
	background-color: rgba(0, 0, 0, 0.68);
	border-radius: 10%;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-input-inscription{
	font-size: 18px;
	color: white;
	font-weight: bold;
	display: block;
	margin-top: 34px;
	margin-bottom: 17px;
}

.title-input-inscription:first-child {
	margin-top: 0;
}

.title-input-inscription:last-child {
	margin-bottom: 0;
}

.input-submit-inscription{
	display: block;
	margin: 20px auto;
	width: 190px;
	padding: 13px;
	border-radius: 13px;
	color: white;
	background-color: #41a6e1;
	font-weight: bold;
	font-size: 17px;
}


